<!--ALCOHOL RESULT-->
<h2 class="title">
    <%= ingredient %> 
</h2>
<%- include('./partials/image', { 
    image: 'https://www.thecocktaildb.com/images/ingredients/' + ingredient.toLowerCase() + '-Medium.png', 
    altText: ingredient 
}) %>

<p>Description: <%- description.replace(/\r\n|\n/g, '<br>') %></p>

<%- include('./partials/error', { error: error }) %>